* {
    font-family: 'Ibarra Real Nova', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid;
}

.navbar-search {
    width: 100%;
    max-width: 600px;
}

.navbar-logo {
    margin-left: 7%;
    font-size: larger;
}

.navbar-search form {
    display: flex;
    align-items: center;
}

.navbar-search input[type="text"] {
    padding: 5px;
    width: 550px;
    border-right: none;
    border-radius: 3px;
    font-size: 22px;
}

input[type=text]:focus {
    padding: 5px;
    width: 550px;
    border-right: none;
    border-radius: 3px;
    font-size: 22px;
}

.navbar-search button[type="submit"] {
    border-left: none;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.navbar-search button img {
    height: 31px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100px;
}

nav ul li ul.dropdown li {
    display: block;
}

nav ul li ul.dropdown {
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    display: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li:hover ul.dropdown {
    display: block;
}

.search-input {
    flex: 1;
    border: 1px solid;
    outline: none;
}

.search-input:focus {
    border-right: none;
}

.search-button {
    background-color: transparent;
    border: 1px solid;
    outline: none;
    cursor: pointer;
}